<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Es todo list</title>
</head>
<body>
    <div id="container">
        <h2>Lista to do</h2>
        
        <input type="text" v-model="newTask.text" placeholder="scrivi qui">
        <button @click ="addTask">inserisci altre cose da fare </button>
        <ul>
            <li v-for="task, i in tasks" key="i" :class="task.done === true ? 'textbarrato' : ''" > 
                {{task.text}}
                <button class="barra" @click ="barTask(i)">barra</button>
                <button class="remove" @click ="removeTask(i)"> rimuovi </button>
            </li>

        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>
</html>
